* {
    box-sizing: border-box;
}

:root {
    --c-main: #FF0000
}

html {
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.hidden {
    position: absolute;
    left: -9999999px;
}

.container {
    max-width: 1088px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    min-height: 600px;
    background-image: url("../images/image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent, #000);
    opacity: 0.5;
}

.header {
    position: fixed;
    height: 90px;
    background: rgba(0,0,0,0.4);
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 100;
    text-transform: uppercase;
    transition: 0.5s;
}

.header--sticky {
    background: black;
    height: 70px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo span {
    color: var(--c-main);
    margin-left: 8px;
    margin-right: 4px;

}

.menu {
    height: 100%;
}

.menu-list {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list li {
    height: 100%;
}

.menu-list a {
    height: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 40px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.menu-list a:hover {
    background-color: rgba(255,255,255,0.2);;
}

.hero-title {
    font-size: 90px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0;
}

.hero-text {
    max-width: 1046px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    padding-right: 10px;
    padding-left: 10px;
}
.hero-buttons {}

.hero-buttons a {
    width: 220px;
    height: 66px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    z-index: 1;
    margin: 20px 12px;
    transition: 0.4s;
}

.hero-button1 {
    background: var(--c-main);
    color: white;
}

.hero-button1:hover {
    box-shadow: 0 0 0 3px rgba(255,0,0,0.4);
}

.hero-button2 {
    background: white;
    color: var(--c-main);
}

.hero-button2:hover {
    box-shadow: 0 0 0 3px rgba(255,255,255,0.4);
}

.hero-arrow {
    width: 55px;
    height: 55px;
    background-color: var(--c-main);
    border-radius: 50%;
    background-image: url(../images/icon-arrow-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -200px;
    overflow: hidden;
    box-shadow: 0px 3px 6px #FF00004D;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.section {
    padding: 100px 0;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
    margin-bottom: 55px;
    margin-top: 0;
}

.section-title::before,
.section-title::after {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--c-main);
}

.blog-list {
    display: flex;
    gap: 20px;

}
.blog-article {
    flex: 1;
}
.blog-article-link {
    display: block;
}
.blog-article-img {
    width: 100%;
}
.blog-article-title {
    font-weight: normal;
    font-size: 19px;
    text-transform: uppercase;
    color: #6A6A6A;
}
.blog-article-text {
    font-weight: 300;
    font-size: 14px;
    color: #6A6A6A;
    line-height: 19px;
    margin-top: 0;
}
.blog-article-button {
    background: var(--c-main);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s;
    font-size: 14px;
    line-height: 1;
    padding: 10px 20px;
    box-shadow: 0px 3px 6px #FF00004D;
}

.section-service {
    background: #282828;
}

.section-service .section-title {
    color: white;
}

.service-list {
    display: flex;
    gap: 20px;
}
.service-article {
    flex: 1;
    text-align: center;
    padding: 0 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-article-link {
    display: block;
}
.service-article-img {
    border-radius: 50%;
    width: 70%;
}
.service-article-title {
    font-weight: normal;
    font-size: 19px;
    text-transform: uppercase;
    color: #6A6A6A;
}
.service-article-text {
    font-weight: 300;
    font-size: 14px;
    color: #6A6A6A;
    line-height: 19px;
    margin-top: 0;
}
.service-article-button {
    background: var(--c-main);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s;
    font-size: 14px;
    line-height: 1;
    padding: 10px 20px;
    box-shadow: 0px 3px 6px #FF00004D;
}

.section-contact {}

.form-contact-cnt {
    display: flex;
    gap: 20px
}
.form-contact-img-cnt {
    flex: 1;
}

.form-contact-img {
    max-width: 100%;
    height: auto;
}

.form {
    flex: 1;
}
.form-row {
    margin-bottom: 20px;
}

.form-control {
    height: 38px;
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 0 10px;
}

.form textarea {
    height: 140px;
    padding: 10px;
    resize: vertical;
    min-height: 100px;
}

.checkbox {
    display: flex;
}
.checkbox-input {
    appearance: none;
    width: 22px;
    height: 22px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    flex-shrink: 0;
    margin-right: 10px;
}

.checkbox-input:focus,
.form-control:focus {
    border-color: var(--c-main);
    box-shadow: 0px 3px 6px #FF00004D;
    outline: none;
}

.checkbox-input:checked {
    background-image: url("/images/icon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox-text {
    font-size: 12px;
    font-family: 'Open Sans';
    color: #B2B2B2;
}

.form-row--last {
    display: flex;
    justify-content: flex-end;
}

.form-button {
    width: 140px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid var(--c-main);
    color: var(--c-main);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background: none;
    box-shadow: 0px 3px 6px #FF00004D;
}

.form-button:focus {
    outline: none;
    background: var(--c-main);
    color: white;
}