* {
    box-sizing: border-box;
}

:root {
    --c-main: #FF0000
}

html {
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.container {
    max-width: 1088px;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    min-height: 600px;
    background-image: url("../images/image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent, #000);
    opacity: 0.5;
}

.header {
    position: fixed;
    height: 90px;
    background: rgba(0,0,0,0.4);
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 100;
    text-transform: uppercase;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo span {
    color: var(--c-main);
    margin-left: 8px;
    margin-right: 4px;

}

.menu {
    height: 100%;
}

.menu-list {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list li {
    height: 100%;
}

.menu-list a {
    height: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 40px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.menu-list a:hover {
    background-color: rgba(255,255,255,0.2);;
}

.hero-title {
    font-size: 90px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0;
}

.hero-text {
    max-width: 1046px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}
.hero-buttons {}

.hero-buttons a {
    width: 220px;
    height: 66px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    z-index: 1;
    margin: 20px 12px;
    transition: 0.4s;
}

.hero-button1 {
    background: var(--c-main);
    color: white;
}

.hero-button1:hover {
    box-shadow: 0 0 0 3px rgba(255,0,0,0.4);
}

.hero-button2 {
    background: white;
    color: var(--c-main);
}

.hero-button2:hover {
    box-shadow: 0 0 0 3px rgba(255,255,255,0.4);
}